.ontodia-searchbar {
  &__language-selector {
    padding: 5px;
    margin-top: 4px;

    > label > span { vertical-align: middle; }
  }
}

.ontodia-searchbar {
  background: rgba(0, 0, 0, 0.15);
}
.ontodia-searchbar > .btn-group {
  margin-left: 10px;
}
.ontodia-searchbar > .btn-group > button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.ontodia-searchbar .ontodia-searchbar__undo,
.ontodia-searchbar .ontodia-searchbar__redo {
  display: none;
}
